Tema
<select name="quiz[tema]">
<% var temas = ['otro', 'humanidades','ocio','ciencia','tecnologia'];
   var Nombretemas = ['Otro', 'Humanidades','Ocio','Ciencia','Tecnología'];
  for(x in temas){ %>
  <option value="<%= temas[x] %>"
<% if(temas[x]===quiz.tema){%> selected <%} %>
  ><%= Nombretemas[x] %></option>
<% } %>
</select>

<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>" />
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"" />
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">
